/**
 * @author Ezra Velazquez
 * 
 * Project:     AwesomeSauce
 * Description: Live telepresence micro-workshop platform          
 * Website:     http://awsmsauce.org
 * 
 * Author:      Ezra Velazquez
 * Website:     http://ezraezraezra.com
 * Date:        May 2011
 * 
 */
body {
	font-family: Helvetica;
	color: #313133;
}
.container_content_body_group_result {
	width: 900px;
	margin: 20px 0;
	background-color: #F0BA32;
	cursor: pointer;
}
.container_content_body_group_result_user_img {
	width: 64px;
	height: 64px;
	background-position: center;
}
.container_content_body_group_result_user_img_fb {
	background-size: 100%;
	background-position:top;
}
.container_content_body_group_result_user_img_bg{
	background-image: url('../img/user_50.png');
	background-position: 15px 15px;
	background-repeat : no-repeat;
	padding: 15px;
}
.container_content_body_group_result_left {
	float: left;
}
.container_content_body_group_result_middle {
	float: left;
	padding: 15px 0px;
	width: 670px;
}
.container_content_body_group_result_middle ul {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	margin-left: -5px;
	font-weight: bold;
}
.container_content_body_group_result_middle li.first_list {
	border: none;
}
.container_content_body_group_result_middle li {
	display: inline;
	border-left: 1px solid black;
	padding-left: 5px;
	color: #DD0238;
	font-size: 14px;
	padding-right: 5px;
}
.container_clear {
	clear: both;
}
.container_content_body_group_result_info_title {
	display: block;
	font-size: 24px;
	font-weight: bold;
}
.container_content_body_group_result_user_name {
	display: block;
	font-size: 16px;
}
.container_content_body_group_result_right {
	background-color: green;
	padding: 0px 15px;
	float: right;
	width: 100px;
	height: 94px;
	text-align: center;
}
.container_content_body_group_result_date_number {
	display: block;
	font-size: 50px;
	font-weight: bold;
}
.container_content_body_group_result_date_month {
	display: block;
	font-size: 26px;
	font-weight: bold;
	margin-top: -10px;
}
.container_content_body_group_result_date_time {
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-top: -5px;
}
.container_content_body_group_search_value {
	color: #3DA6F4;
	font-weight: bold;
}
.hidden_info {
	display: none;
}