/**
 * @author Ezra Velazquez
 * 
 * Project:     AwesomeSauce
 * Description: Live telepresence micro-workshop platform          
 * Website:     http://awsmsauce.org
 * 
 * Author:      Ezra Velazquez
 * Website:     http://ezraezraezra.com
 * Date:        May 2011
 * 
 */
#container_content_body {
	width: 100%;
	margin-top: 35px;
}
.container_content_body_group_name {
	font-size: 24px;
}
.container_content_body_participate {
	text-align: center;
	padding: 50px 0px;
}
.user_engagement_header {
	font-size: 14px;
	display: block;
}
.user_engagement_copy {
	font-size: 25px;
	text-decoration: underline;
}
.button_link {
	background-color: transparent;
	color: #313131;
	font-weight: normal;
	font-size: 24px;
}
#container_content_banner {
	width: 900px;
	height: 184px;
	background-image: url('../img/hero_banner.png');
	margin-bottom: 20px;
	margin-top: -20px;
	cursor: pointer;
}
